@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-outline-radius: unset;
  outline: none;
  color: inherit;
  scrollbar-color: rgba(93, 93, 255, 0.9) #7d8784 !important;
  scrollbar-width: thin !important;
}

@layer base {

  html {
    @apply h-full;
    @apply w-full;
  }

  body {
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply h-full;
    @apply text-sm;
  }

  #root {
    @apply h-full;
    @apply w-full;
  }
}